.content{
    margin-top: 10px;
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 0px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.image{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-left: 5%;
    /* padding: 50px; */
}

.description{
    width: 70%;
}

.title{
    font-size: 3rem;
    font-weight: 300;
}

.tech{
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}